<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XMLDocument.xml to edit this template
-->

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">database</property>
        <property name="hibernate.connection.username">username</property>
        <property name="hibernate.connection.password">password</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <property name="hibernate.format_sql">true</property>

        <!-- Names the annotated entity classes -->
        <mapping class="com.mycompany.sistemaoficios.clases.Adscripcion"/>
        <mapping class="com.mycompany.sistemaoficios.clases.Defensor"/>
        <mapping class="com.mycompany.sistemaoficios.clases.Documento"/>
        <mapping class="com.mycompany.sistemaoficios.clases.Incidencia"/>
        <mapping class="com.mycompany.sistemaoficios.clases.Oficial"/>
        <mapping class="com.mycompany.sistemaoficios.clases.Semana"/>
    </session-factory>
</hibernate-configuration>


<root>
    
</root>

